.addInventory {
  background: #ffb8af;
  color: white;
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}

.bins-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.bin-text {
  color: #fff;
  font-size: 30px;
}

.pink {
  background: #ed6b5a
}